[submodule "stdsimd"]
        path = stdsimd
        url = https://github.com/rust-lang-nursery/stdsimd
[submodule "vektor"]
        path = vektor
        url = https://github.com/AdamNiederer/vektor
